* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'hexagon_cup_fontbold';
    src: url(hexagon_cup-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #000;
    transition: 2s;
    margin: 0;
    overflow: hidden;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

#img_back, #img_over, #triggerwarn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border: none;
    text-decoration: none;
    display: none;
}

#triggerwarn {
    object-fit: contain;
    max-height: 30vmax;
    top: 25vmin;
}

#icueholder {
    position: absolute;
    top: -120px;
    left: 0;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    display: none;
}

#icuelogo {
    float: left;
    height: 80px;
    width: 80px;
}

#icuetext {
    float: left;
    margin: 25px 5px;
    font-size: 175%;
}

#renderContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#debugwnd {
    position: absolute;
    right: 0;
    visibility: hidden;
    color: red;
}

#txtholder {
    position: absolute;
    left: 25%;
    width: 50%;
    bottom: -40px;
    font-family: 'hexagon_cup_fontbold', sans-serif;
    font-size: 125%;
    display: none;
}

#icueholder, #txtholder, #reload-text {
    text-shadow: 0 0 20px rgba(255, 255, 255, .5), 0 0 15px rgba(255, 255, 255, .5);
}

.cuePreview {
    position: absolute;
    background: rgba(255, 0, 0, .3);
}

/* Reload indicator */

#reload-bar {
    position: absolute;
    opacity: 0;
    top: 0px;
    height: 10px;
    width: 0%;
    background-color: #989a;
    transition: all 5s ease, opacity 0.33s ease;
}
#reload-bar.show {
    opacity: 1;
    width: 100%;
    background-color: #e11a;
}
#reload-bar.done {
    transition: opacity 0.33s ease;
}

#reload-text {
    position: absolute;
    top: -6em;
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-size: 3em;
    color: #fffa;
    transition: all .33s ease, color 5s ease;
}
#reload-text.show {
    top: 10px;
    color: #e11a;
}
#reload-text.done {
    transition: position 0.33s linear;
}