/* latin-ext */

@font-face {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(OverpassMono.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Overpass Mono', monospace;
}

body {
    background-color: #000;
    margin: 0;
    overflow: hidden;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    height: 100vh;
}

#img_back, #img_over {
    opacity: 0;
    position: absolute;
    transition: 2s;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border: none;
    text-decoration: none;
}

#renderContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#mainCvs {
    opacity: 0.9;
    transition: opacity 1s ease;
}

#debugwnd {
    opacity: 0;
    transition: 0s;
    position: absolute;
    right: 0;
    color: red;
	z-index: 3;
}

.show {
    opacity: 1 !important;
    transition: 2s ease;
}

#mainCvs.show {
    transition: opacity 10s ease;
}
