* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'hexagon_cup_fontbold';
    src: url(hexagon_cup-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #000;
    transition: 2s;
    margin: 0;
    overflow: hidden;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    height: 100vh;
}

#img_back, #img_over {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border: none;
    text-decoration: none;
    display: none;
}

#renderContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#mainCvs {
    opacity: 0;
    transition: opacity 3s ease;
}

#mainCvs.show {
    opacity: 1;
    transition: opacity 10s ease;
}

#debugwnd {
    position: absolute;
    right: 0;
    visibility: hidden;
    color: red;
}

#txtholder {
    position: absolute;
    left: 33%;
    width: 34%;
    bottom: -40px;
    font-family: 'hexagon_cup_fontbold', sans-serif;
    font-size: 125%;
    display: none;
    text-shadow: 0 0 20px rgba(255, 255, 255, .5), 0 0 15px rgba(255, 255, 255, .5);
}

.polygon {
    padding: 30px;
    background: radial-gradient( #66666633, #22222202);
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}